/**
 * CSS for background for all the tabs
 */
.miniorange_radius_table_layout_main {
    background-color:#e0e0d8;
    width: 98%;
    padding:1%;
    overflow: hidden;
}
.miniorange_radius_table_layout_sub {
    border-radius: 1px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    background-color:#FFFFFF;
    border:1px solid #CCCCCC;
    margin: 0 0 2% 0;
}
.miniorange_radius_container {
    width: 60%;
    padding:25px;
    float: left;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 4px;
}


/**
 *CSS for Register/Login tab
 */

/**
 * CSS for welcome message of registration tab
 */
.mo_radius_welcome_message {
    display: block;
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    color: rgba(0, 128, 0, 0.80);
    background-color: rgba(0, 255, 0, 0.15);
    padding: 5px;
}
.mo_radius_highlight_background_note {
    background-color: #e0e0e0;
    border-radius: 4px;
    padding: 0.55em;
    width: 92%;
}


/**
 *CSS for network security advertisement.
 */
.mo_radius_table_layout {
    border-radius: 1px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    background-color:#FFFFFF;
    border:1px solid #CCCCCC;
    margin: 0 2% 2% 0;
}
.mo_radius_container_2 {
    width: 28%;
    padding: 2%;
    border-radius: 4px; !important;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-left: auto;
    margin-right: 2%;
    float: right;
}
.mo_ns_align{
    text-align: justify;
}
.mo_ns_image1{
    border: none;
    padding-bottom: 4%;
    background-color: white;
    text-align: center;
}
.mo_ns_row{
    border-right: hidden;
    border-bottom: hidden;
}
.mo_ns_td{
    padding-left: 20%;
}


/**
 * CSS for network security advertise buttons
 */
.mo2f_text_center{
    text-align: center;
    margin: 5%;
}
.mo_radius_button_left {
    float: inherit;
    color: #48a0dc;
    border: 2px solid #48a0dc;
    padding: 1.5%;
}
.mo_radius_button_right{
    float: inherit;
    color: #48a0dc;
    border: 2px solid #48a0dc;
    padding: 1.5%;
    margin-left: 5%;
}


/**
 * CSS for Upgrade Plans Tab
 */
.mo_saml_local_pricing_free_tab{
    background-color: rgba(34,153,221,0.82) !important;
}
.mo_saml_local_pricing_paid_tab{
    background-color: #1a71a4 !important;
}
.mo_saml_local_pricing_text{
    font-size: 14px !important;
    color: #fff !important;
    font-weight: 600 !important;

}
.mo_saml_local_pricing_sub_header{
    margin: 2px !important;
    color: #fff !important;
}
.mo_saml_local_pricing_header{
    color: #fff !important;
    margin: 4px !important;
}
.mo_saml_local_pricing_table{
    text-align:center;
    font-size: 15px !important;
    background-color:#FFFFFF;
}
.mo_saml_meta_upload{
    display:none;
}
.mo_saml_pricing_symbol{
    font-size: 13px !important;
    line-height: 1.5;
}
.mo_saml_local_pricing_text .mo_saml_available {
    color: greenyellow;
    font-size: 20px;
    border-radius: 10px;
}
.mo_saml_local_pricing_text .mo_saml_unavailable {
    color: #cc2121;
    font-size: 20px;
    border-radius: 10px;
}
.mo_saml_space{
    margin-left: 33px;
}
.mo_container_1{
    width: 100%;
    margin-left: 1%;
}
#mo_pricing-table {
    padding-top: 30px;
}
#mo_pricing-table li{
    height: 40px;
    color: black;
    text-align: center;
    overflow: hidden;
}
.mo_class_inline{
    width: 31%;
    display: inline-block;
    vertical-align: top;
    margin-right: 1%;
}
.mo_class_inline:hover{
    transform: scale(1.02);
}
#mo_pricing-table .pricing {
    margin-left: 10px;
    padding: 0;
    font-family: 'Robot', sans-serif;
}
#mo_pricing-table .pricing .mo_pricing-table {
    padding-bottom: 15px;
}
#mo_pricing-table .pricing .mo_pricing-table .pricing-header {
    position: relative;
    background: #34495e;
    padding: 6px 18px;
    text-align: center;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
#mo_pricing-table .pricing .mo_pricing-table .pricing-header .pricing-title {
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
}
#mo_pricing-table .pricing .mo_pricing-table .pricing-header .pricing-rate {
    font-size: 50px;
    font-weight: 600;
    color: #ffffff;
    position: relative;
    text-align: center;
}
#mo_pricing-table .pricing .mo_pricing-table .pricing-header .pricing-rate sup {
    font-size: 24px;
    position: relative;
    top: -30px;
    color: #bdc3c7;
}
#mo_pricing-table .pricing .mo_pricing-table .pricing-header .pricing-rate span {
    font-size: 13px;
    color: #bdc3c7;
    text-transform: uppercase;
}
#mo_pricing-table .pricing .pricing-list {
    padding: 20px 0 40px 0;
    background: #c4baba1c;
    border: 1px solid #e3e3e3;
}
#mo_pricing-table .pricing .pricing-list ul {
    padding: 0px;
    display: table;
    margin: 0px auto;
    width: 100%;
    text-align: center;
}
#mo_pricing-table .pricing .pricing-list ul li {
    list-style: none;
    border-bottom: 1px solid #EAECEB;
    color: black;
    font-size: 15px;
    line-height: 42px;
}
#mo_pricing-table .pricing .pricing-list ul li:last-child {
    border: none;
}
#mo_pricing-table .pricing .pricing-list ul li i {
    margin-right: 12px;
    color: #bdc3c7;
}
#mo_pricing-table .pricing .pricing-list ul li span {
    color: #34495e;
}
.pricing-rate:last-of-type {
    margin-top:36px;
}
.pricing-title>span{
    font-size: 12px;
    letter-spacing: 1px;
}
p.pricing-title{
    height: 7px;
}
p.pricing-rate{
    margin-bottom: 50px;
}
.filler-class{
    height: 0px;
}
.mo_btn_note{
    font-size: 14px;
    cursor: default;
    border-color:#337ab7;
}
.pricing-list li:nth-of-type(2n+1) {
    background-color: rgba(23, 61, 80, 0.06);
}
#mo_saml_margin{
    margin-bottom: 22px;
}
#edit-mo-pricing-dropdown,#edit-mo-pricing-dropdown-2,#edit-do-it-yourself-pricing,#edit-do-it-yourself-pricing-2{
    color: black;
}
.miniorange_radius_one_time{
    color:#ffffff !important;
    font-weight: 400;
    font-size:12px !important
}


/**
 * CSS for Upgrade Plans Tab buttons
 */
.mobtn {
    display: inline-block;
    /*padding: 6px 12px;*/
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none
}
.mo_btn_danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a
}
.mo_btn_danger:hover,.mo_btn_danger:focus,.mo_btn_danger.focus,.mo_btn_danger:active,.mo_btn_danger.active,.open>.dropdown-toggle.mo_btn_danger {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925
}
.mo_btn_danger:active,.mo_btn_danger.active,.open>.dropdown-toggle.mo_btn_danger {
    background-image: none
}

.mo_btn_danger.disabled,.mo_btn_danger[disabled],fieldset[disabled] .mo_btn_danger,.mo_btn_danger.disabled:hover,.mo_btn_danger[disabled]:hover,fieldset[disabled] .mo_btn_danger:hover,.mo_btn_danger.disabled:focus,.mo_btn_danger[disabled]:focus,fieldset[disabled] .mo_btn_danger:focus,.mo_btn_danger.disabled.focus,.mo_btn_danger[disabled].focus,fieldset[disabled] .mo_btn_danger.focus,.mo_btn_danger.disabled:active,.mo_btn_danger[disabled]:active,fieldset[disabled] .mo_btn_danger:active,.mo_btn_danger.disabled.active,.mo_btn_danger[disabled].active,fieldset[disabled] .mo_btn_danger.active {
    background-color: #d9534f;
    border-color: #d43f3a
}
.mo_btn_danger .badge {
    color: #d9534f;
    background-color: #fff
}
.mo_btn_sm,.btn-group-sm>.mobtn {
    padding: 2% 6%;
    font-size: 1.1em;
    line-height: 1.2;
    border-radius: 5px
}